backend/target/
backend/mutants.out*
backend/openapi.json

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo

docs/

**/*.sqlite*
**/makefile
**/.gitignore
**/.DS_Store
**/*.md

Dockerfile*
docker-compose.yaml
