@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 66% 100%;
    --foreground: 188 60% 3%;
    --muted: 158 27% 88%;
    --muted-foreground: 158 12% 27%;
    --popover: 188 66% 100%;
    --popover-foreground: 188 60% 3%;
    --card: 188 66% 100%;
    --card-foreground: 188 60% 3%;
    --border: 188 9% 90%;
    --input: 188 9% 90%;
    --primary: 188 86% 53%;
    --primary-foreground: 188 0% 100%;
    --secondary: 158 86% 53%;
    --secondary-foreground: 158 86% 13%;
    --accent: 218 86% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 81% 33%;
    --destructive-foreground: 0 81% 93%;
    --ring: 188 86% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 188 33% 1%;
    --foreground: 188 30% 99%;
    --muted: 158 27% 12%;
    --muted-foreground: 158 12% 73%;
    --popover: 188 33% 1%;
    --popover-foreground: 188 30% 99%;
    --card: 188 33% 1%;
    --card-foreground: 188 30% 99%;
    --border: 188 9% 13%;
    --input: 188 9% 13%;
    --primary: 188 86% 53%;
    --primary-foreground: 188 86% 13%;
    --secondary: 158 86% 53%;
    --secondary-foreground: 158 86% 13%;
    --accent: 218 86% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 81% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 188 86% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
